{{yield}}

<li>
  <h2>{{announcement.user}} on {{announcement.date}}</h2>
  <h3>{{announcement.city}}</h3>
  <p>{{announcement.message}}</p>
  <img src="{{announcement.image}}" alt="announcement.type">
  <button {{action 'delete' announcement}}>Delete</button>
</li>
